{% if login %}
<h1><a href=" {%   url   'listaCamp' %}">VOLVER</a></h1>
<h1>Estas accediendo al campeon {{campeon.nombre}}</h1>

<img src = {{campeon.imagen}} />
<h2>Region del campeon -> {{campeon.region}}</h2>

<h2>Año de salida -> {{campeon.añoSalida}}</h2>

<h3>Linea -> {{campeon.linea}}</h3>

<h3>Lista de habilidades:</h3>
<ul>
{% for habilidad in habilidades_list %}
{% if campeon.nombre ==  habilidad.campeon.nombre %}
<li><a href=" {%   url   'detalleHab'  habilidad.id     %}">  {{habilidad.nombre}} - {{habilidad.tecla}} </a></li>

<img src = {{habilidad.imagen}} />
{% endif %}
{% endfor %}
</ul>


<h3>Lista de skins:</h3>
<ul>
{% for skin in skin_list %}
{% if campeon.nombre ==  skin.campeon.nombre %}
<li><a href=" {%   url   'detalleSkin'  skin.id     %}">  {{skin.nombre}} </a></li>

<img src = {{skin.imagen}} />
{% endif %}
{% endfor %}
</ul>




{% else %}
<p>usuario anonimo</p>

{%endif%}