{% if login %}
<h1><a href=" {%   url   'listaCamp' %}">VOLVER</a></h1>
<h1>Hola estas accediendo a la campeon {{campeon.nombre}}</h1>

<h2> Esta es la region del campeon {{campeon.region}}</h2>

<h2>Este es el año de salida {{campeon.añoSalida}}</h2>

<h3>Juega en esta linea {{campeon.linea}}</h3>

<h3>Esta es su lista de habilidades:</h3>
<ul>
{% for habilidad in habilidades_list %}
{% if campeon.nombre ==  habilidad.campeon.nombre %}
<li><a href=" {%   url   'detalleHab'  habilidad.id     %}">  {{habilidad.nombre}} - {{habilidad.tecla}} </a></li>
{% endif %}
{% endfor %}
</ul>


<h3>Esta es su lista de skins:</h3>
<ul>
{% for skin in skin_list %}
{% if campeon.nombre ==  skin.campeon.nombre %}
<li><a href=" {%   url   'detalleSkin'  skin.id     %}">  {{skin.nombre}} </a></li>
{% endif %}
{% endfor %}
</ul>




{% else %}
<p>Hola usuario anonimo</p>

{%endif%}